---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables

$text-color: #111111;
$primary-color: #52958a;
$secondary-color: #832d9c;


h1 {
  color: $primary-color;
}

.btn {
  border-radius: 0;
  font-style: italic;
  text-transform: uppercase;
}

.btn-primary {
  color: white;
  background-color: $primary-color;
  border-color: darken($primary-color, 10%);

  &:hover {
    color: white;
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 20%);
  }
}

.btn-primary-alt {
  color: white;
  background-color: $secondary-color;
  border-color: darken($secondary-color, 10%);

  &:hover {
    color: white;
    background-color: darken($secondary-color, 10%);
    border-color: darken($secondary-color, 20%);
  }
}

.navbar {
  background-color: white;
  border: 0;
}

.navbar-brand {
  background-color: $primary-color !important;
  color: white !important;
}

footer {
  background-color: $primary-color;
  color: white;
  padding: 2em;
}

.index.slides .item {
  background-color: $secondary-color;
  color: white;
  height: 300px;
  text-align: center;

  h1 {
    color: $primary-color;
    text-transform: uppercase;

    small {
      color: white;
      text-transform: lowercase;
    }
  }
}

.index.actions {
  h2 {
    color: $secondary-color;
  }
}

.index.why {
  background-color: $secondary-color;
  color: white;
  text-align: center;
}

.mission.statement {
  background-color: $secondary-color;
  color: white;

  h1 {
    color: $primary-color;
    text-transform: uppercase;

    small {
      color: white;
      text-transform: none;
    }
  }
}

.mission.problem .stats {
  text-transform: uppercase;

  h2 {
    color: $secondary-color;
  }
}
