---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables

$text-color: gray;
$primary-color: #52958a;
$secondary-color: #832d9c;
$medium-gray: mediumgray;
$light-gray: #F3F3F3;

body {
  color: $text-color;
}

h1 {
  color: $primary-color;
}

.btn {
  border-radius: 0;
  font-style: italic;
  text-transform: uppercase;
}

.btn-primary {
  color: white;
  background-color: $primary-color;
  border-color: darken($primary-color, 10%);

  &:hover {
    color: white;
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 20%);
  }
}

.btn-primary-alt {
  color: white;
  background-color: $secondary-color;
  border-color: darken($secondary-color, 10%);

  &:hover {
    color: white;
    background-color: darken($secondary-color, 10%);
    border-color: darken($secondary-color, 20%);
  }
}

.navbar {
  background-color: white;
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  background-color: $primary-color !important;
  color: white !important;
}

footer {
  background-color: $primary-color;
  color: white;
  padding: 2em;
}

.index {
  &.actions {
    color: #999;
    font-size: 18px;
    font-weight: 300;
    padding: 6em 0;

    h2 {
      font-weight: 300;
    }
  }

  &.why {
    padding: 6em 2em;

    h1 {
      color: white;
      font-size: 64px;
      font-weight: 300;
    }

    p {
      font-size: 18px;
      margin: 2em auto;
      max-width: 800px;
    }
  }
}

.index.slides .item {
  background-color: $secondary-color;
  color: white;
  height: 300px;
  text-align: center;

  h1 {
    color: $primary-color;
    text-transform: uppercase;

    small {
      color: white;
      text-transform: lowercase;
    }
  }
}

.index.actions {
  h2 {
    color: $secondary-color;
  }
}

.index.why {
  background-color: $secondary-color;
  color: white;
  text-align: center;
}

.mission.statement {
  background-color: $secondary-color;
  color: white;

  h1 {
    color: $primary-color;
    text-transform: uppercase;

    small {
      color: white;
      text-transform: none;
    }
  }
}

.mission.problem .stats {
  text-transform: uppercase;

  h2 {
    color: $secondary-color;
  }
}

.projects header,
.products header,
.submit header {
  padding: 3em;
  text-align: center;

  h1 {
    color: $secondary-color;
    font-size: 48px;
    font-weight: 300;
    line-height: 1em;
    margin: .5em auto;
    max-width: 800px;
  }

  p {
    font-size: 24px;
    font-weight: 300;
    max-width: 640px;
    margin: 0 auto;
  }
}

.product,
.project,
.projects header,
.products header,
.submit header {
  border-top: 10px #EDEDED solid;
}

.product,
.project,
.projects,
.products {
  padding-bottom: 2em;
}

.products,
.projects {
  .container {
    max-width: 950px;
  }

  .card {
    background-color: $light-gray;
    margin-top: 2em;

    .details {
      font-size: 16px;
      min-height: 375px;
      padding: 2em;
      padding-bottom: 70px;
      position: relative;
    }

    a.btn {
      position: absolute;
      bottom: 2em;
    }

    img {
      width: 100%;
    }

    h2 {
      color: $primary-color;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin-top: 0;
    }

    .skills-needed span {
      color: $primary-color;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.products .card .details {
  min-height: 250px;
}

.product {
  padding-top: 2em;

  img {
    max-width: 100%;
  }

  h1 {
    color: $secondary-color;
    font-size: 48px;
    font-weight: 300;
  }

  h2 {
    color: $primary-color;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.project {
  padding-top: 1em;

  header .btn {
    margin-top: 1em;
    font-size: 28px;
  }

  h1 {
    color: $secondary-color;
    font-size: 48px;
    font-weight: 300;
  }

  h2 {
    color: $primary-color;
    font-size: 18px;
    text-transform: uppercase;
  }

  dt {
    color: $secondary-color;
    font-size: 18px;
    font-weight: 500;
    margin-top: .8em;
    text-transform: uppercase;
  }

  dd {
    color: $medium-gray;
    font-size: 20px;
  }

  .partner-logo {
    max-width: 100%;
  }
}
